%% -*- erlang -*-
{erl_opts, [debug_info, warn_unused_import, warn_unused_vars, warnings_as_errors]}.
{deps, []}.

{profiles, [ {test, [ {deps, [{proper, "1.4.0"}]}
                    , {cover_enabled, true}
                    , {plugins, [rebar3_hex]}
                    ]}
           , {dev, [{plugins, [rebar3_hex]}]}
           ]}.
